<!-- form handling -->
<form action="/" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="mealname" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="mealname" value="" placeholder="Rice">
        </div>
        <div class="form-group">
            <label for="mealtype" class="text-light">Email</label>
            <input type="text" name="mealtype" value="" placeholder="lunch">
        </div> 
        <div class="form-group">
            <label for="description" class="text-light">Email</label>
            <input type="text" name="description" value="" placeholder="Description">
        </div> 
        <div class="form-group">
            <label for="calories" class="text-light">Email</label>
            <input type="text" name="calories" value="" placeholder="calories">
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>